@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    position: relative;
    background-image: url('../images/restaurant.png');
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content h1{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 75px;
    color: #FFFFFF;
}
.content p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 1.5em;
}
.click{
    text-align: center;
    margin-top: 2rem;
}
button{
    width: 250px;
    height: 80px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 38px;
    background: #FFFFFF;
    border-radius: 2px;
    margin: 0 10px;
}
span{
    font-weight: bolder;
}